extend ../common/layout
block links
	link(href="/css/student/exam.css",rel="stylesheet")
block content
	.content
		form.container(role="form",action="/student/exam-commit",method="POST")
			input.h2.exam-title(name="title",value="#{questions.title}")
			//- 每道题的次序
			- var questionSeq = 0 
			- if (questions.singleChoice)
				- var count = questions.singleChoice.length
				- var point = questions.singleChoicePoint
				dl.question-catagory
					dt.btn.btn-lg.btn-info.question-catagory-title.yahei(data-toggle="collapse" href="#singleChoice") 单选题
						span.badge 分值:#{count}*#{point}=#{count*point}
					dd#singleChoice.collapse.in
						ul
							- for question in questions.singleChoice
								li
									label #{++questionSeq}、
									label.question-title #{question.title}
									table.question-choice(data-sort="#{questionSeq}")
										tr
											td(title="#{question.a}")
												span.answer-item
													input(type="radio",name="sc-#{question._id}",value="0")
													span.answer-content A: #{question.a}
											td(title="#{question.b}")
												span.answer-item
													input(type="radio",name="sc-#{question._id}",value="1")
													span.answer-content B: #{question.b}
										tr
											td(title="#{question.c}")
												span.answer-item
													input(type="radio",name="sc-#{question._id}",value="2")
													span.answer-content C: #{question.c}
											td(title="#{question.d}")
												span.answer-item
													input(type="radio",name="sc-#{question._id}",value="3")
													span.answer-content D: #{question.d}
			- if (questions.multipleChoice)
				- var count = questions.multipleChoice.length
				- var point = questions.multipleChoicePoint
				dl.question-catagory 
					dt.btn.btn-lg.btn-info.question-catagory-title.yahei(data-toggle="collapse" href="#multipleChoice") 多选题
						span.badge 分值:#{count}*#{point}=#{count*point}
					dd#multipleChoice.collapse
						ul
							- for question in questions.multipleChoice
								li
									label #{++questionSeq}、
									label.question-title #{question.title}
									table.question-choice(data-sort="#{questionSeq}")
										tr
											td(title="#{question.a}")
												span.answer-item
													input(type="checkbox",name="mc-#{question._id}",value="0")
													span.answer-content A: #{question.a}
											td(title="#{question.b}")
												span.answer-item
													input(type="checkbox",name="mc-#{question._id}",value="1")
													span.answer-content B: #{question.b}
										tr
											td(title="#{question.c}")
												span.answer-item
													input(type="checkbox",name="mc-#{question._id}",value="2")
													span.answer-content C: #{question.c}
											td(title="#{question.d}")
												span.answer-item
													input(type="checkbox",name="mc-#{question._id}",value="3")
													span.answer-content D: #{question.d}
			- if (questions.blank)
				- var count = questions.blank.length
				- var point = questions.blankPoint
				dl.question-catagory
					dt.btn.btn-lg.btn-info.question-catagory-title.yahei(data-toggle="collapse" href="#blank") 填空题
						span.badge 分值:#{count}*#{point}=#{count*point}
					dd#blank.collapse
						ul
							- for question in questions.blank
								li
									.blank-question
										label #{++questionSeq}、
										span #{question.title}
										span
											input.blank-answer(type="text",name="blank-#{question._id}",autocomplete="off",data-sort="#{questionSeq}")
			- if (questions.judgement)
				- var count = questions.judgement.length
				- var point = questions.judgementPoint
				dl.question-catagory
					dt.btn.btn-lg.btn-info.question-catagory-title.yahei(data-toggle="collapse" href="#judgement") 判断题
						span.badge 分值:#{count}*#{point}=#{count*point}
					dd#judgement.collapse
						ul
							- for question in questions.judgement
								li
									label #{++questionSeq}、
									span.question-title #{question.title}
									span.judgement-question(data-sort="#{questionSeq}")
											input.judgement-anwer-t(type="radio",name="judgement-#{question._id}",value="0")
											input.judgement-anwer-f(type="radio",name="judgement-#{question._id}",value="1")
			- if (questions.definition)
				- var count = questions.definition.length
				- var point = questions.definitionPoint
				dl.question-catagory
					dt.btn.btn-lg.btn-info.question-catagory-title.yahei(data-toggle="collapse" href="#definition") 名词解释
						span.badge 分值:#{count}*#{point}=#{count*point}
					dd#definition.collapse
						ul
							- for question in questions.definition
								li
									label #{++questionSeq}、
									label.question-title #{question.title}
									textarea.form-control.definition-answer(type="text",name="definition-#{question._id}",data-sort="#{questionSeq}")
			- if (questions.saq)
				- var count = questions.saq.length
				- var point = questions.saqPoint
				dl.question-catagory
					dt.btn.btn-lg.btn-info.question-catagory-title.yahei(data-toggle="collapse" href="#saq") 简答题
						span.badge 分值:#{count}*#{point}=#{count*point}
					dd#saq.collapse
						ul
							- for question in questions.saq
								li
									label #{++questionSeq}、
									label.question-title #{question.title}
									textarea.form-control.saq-answer(type="text",name="saq-#{question._id}",data-sort="#{questionSeq}")
			- if (questions.application)
				- var count = questions.application.length
				- var point = questions.applicationPoint
				dl.question-catagory
					dt.btn.btn-lg.btn-info.question-catagory-title.yahei(data-toggle="collapse" href="#application") 应用题
						span.badge 分值:#{count}*#{point}=#{count*point}
					dd#application.collapse
						ul
							- for question in questions.application
								li
									label #{++questionSeq}、
									label.question-title #{question.title}
									textarea.form-control.application-answer(type="text",name="application-#{question._id}",data-sort="#{questionSeq}")
			input.hidden(type="hidden",name="examId",value="#{examId}")
			input.form-control.btn-info.btn-save(type="button",value="保存(暂未实现)")
			input.form-control.btn-danger.btn-commit(type="submit",value="交卷")
	.exam-info
		p.h4.text-info.total 总分: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; #{questions.totalMark} 分
		p.h4.text-info.duration(data-duration="#{questions.duration}") 考试时间: &nbsp; #{questions.duration} 分钟
		p.h4.text-danger.count-down 剩余时间: &nbsp;&nbsp;
			span.spare-minute 120分
			span.spare-second 00秒
		ul.question-nav
			- for(var i = 1; i < questionSeq + 1; i++)
				li.question-item.btn.btn-success #{i}

block scripts
	script(src="/js/student/exam.js")