extend ../common/layout
block links
	link(href="/css/student/score.css",rel="stylesheet")
block content
	.content
		.container
			.search-filter
				label
					input.form-control(placeholder="请输入考试ID")
				label
					input.form-control(placeholder="请输入考试名")
				label
					input.form-control(placeholder="请输入考试时间")
				label
					input.form-control.btn.btn-primary(type="button",value="查询(暂不支持)")
			table.table-striped.table-hover
				thead
					tr
						th 考试ID
						th 考试名
						th 分数
						th 操作(暂不支持)
				tbody
					- if (marks)
						- for mark in marks
							tr
								td(title="#{mark._id}") #{mark._id}
								td(title="#{mark.title}") #{mark.title}
								- if (mark.mark == -1)
									td 未打分
								- else
									td(title="#{mark.mark}") #{mark.mark}
								td
									button.btn.btn-sm.btn-success 查看
			include ../common/pagination
block scripts
	script(src="/js/student/score.js")